@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
    @apply text-slate-500 flex flex-col gap-5;
  }
  
  .form label {
    @apply text-xs font-medium;
  }
  
  .form input,
  select, textarea {
    @apply border-[1px] border-slate-400 font-normal rounded-lg w-full px-2 py-3;
  }
  
  .form button {
    @apply btn bg-btn;
  }
  
  .btn {
    @apply flex justify-center items-center text-white w-full py-3 px-4 font-semibold text-base rounded-full transition-all hover:scale-95;
  }
  
body {
  @apply 
  bg-[#24242614]
}

button {
  @apply 
  bg-Green
  text-Black
  font-bold 
  sm:text-xl 
  sm:py-3 sm:px-6 
  py-2 px-3 
  rounded-md
}

button:hover
 {
  @apply 
  bg-greenVariant
}

button:active {
  @apply
  bg-Green
}

li {
  @apply 
  cursor-pointer
  text-greenVariant
}

li:hover {
  @apply 
  text-white
}

.search-tag {
  @apply 
  bg-transparent
  text-Black
  border-2 
  border-Green
  cursor-pointer
  px-4 py-1
  sm:px-6 sm:py-2
  sm:text-base
  text-sm
  font-bold
}

.card-button {
  @apply 
  bg-transparent
  text-Black
  border-2 
  border-Green
  cursor-pointer
  px-5 py-2
  sm:text-base
  text-[1rem]
  h-[2.6rem]
  font-bold
  rounded 
  w-full
}

.search-tag:hover,
.card-button:hover {
  @apply 
  bg-Green
  text-Black 
}

@media only screen and (min-width: 1440px) and (max-width: 1550px) {
  html {
    font-size: 16.5px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
  html {
    font-size: 15.5px;
  }
}
@media only screen and (min-width: 1190px) and (max-width: 1300px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1190px) {
  html {
    font-size: 13.2px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 860px) and (max-width: 960px) {
  html {
    font-size: 11.5px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 860px) {
  html {
    font-size: 10.5px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 760px) {
  html {
    font-size: 9px;
  }
}

